GEMINI_API_KEY=
GH_TOKEN=
GH_PAT=
GH_REPO_OWNER=ttaruntej
GH_REPO_NAME=ABIF-Funding-Tracker
PUBLIC_SITE_URL=https://ttaruntej.github.io/ABIF-Funding-Tracker/
PUBLIC_GITHUB_REPO_URL=https://github.com/ttaruntej/ABIF-Funding-Tracker
VITE_API_BASE_URL=https://abif-funding-tracker.vercel.app
